                                    /* font face */
                                    
                                    @font-face {
                                        src: url("../font/BMDOHYEON.otf");
                                        font-family: BM DoHyeon;
                                        font-style: normal;
                                    }
                                    
                                    * {
                                        box-sizing: border-box;
                                    }
                                    /* navbar css */
                                    
                                    .navbar {
                                        top: 0px;
                                        left: 0px;
                                        min-height: 64px;
                                        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
                                        background: #FFFFFF 0% 0% no-repeat padding-box;
                                        box-shadow: 0px 4px 8px #231F2040;
                                        opacity: 1;
                                    }
                                    
                                    .navbar-brand {
                                        top: 16px;
                                        left: 32px;
                                        width: 128px;
                                        height: 40px;
                                        opacity: 1;
                                    }
                                    
                                    .nav-item {
                                        top: 16px;
                                        width: 120px;
                                        height: 40px;
                                        border: 1px solid var(--unnamed-color-ffffff);
                                        border: 1px solid #FFFFFF;
                                        opacity: 1;
                                    }
                                    
                                    .nav-link {
                                        top: 20px;
                                        left: 281px;
                                        /* width: 38px;
    height: 24px; */
                                        color: var(--unnamed-color-231f20);
                                        text-align: center;
                                        font: normal normal medium 16px/24px Noto Sans CJK KR;
                                        letter-spacing: 0px;
                                        color: #231F20;
                                        opacity: 1;
                                    }
                                    
                                    .nav-link a {
                                        vertical-align: middle;
                                    }
                                    /* btn css */
                                    
                                    .floating-btn {
                                        /* 원 모양 */
                                        color: #375FFF;
                                        height: 160px;
                                        width: 160px;
                                        border: 16px solid white;
                                        border-radius: 128px;
                                        /* 고정값 */
                                        position: fixed;
                                        bottom: 80px;
                                        right: 80px;
                                        background: var(--unnamed-color-fafaff) 0% 0% no-repeat padding-box;
                                        background: #375FFF 0% 0% no-repeat padding-box;
                                        box-shadow: 4px 4px 8px #231F2040;
                                        opacity: 1;
                                    }
                                    
                                    .header {
                                        background-size: cover;
                                        background-position: center center;
                                        height: 100vh;
                                        min-height: 500px;
                                        text-align: center;
                                    }
                                    
                                    .first-container {
                                        margin-left: 0px;
                                        /* UI Properties */
                                        background: var(--unnamed-color-375fff) 0% 0% no-repeat padding-box;
                                        background: #375FFF 0% 0% no-repeat padding-box;
                                        width: 100%;
                                        height: 100vh;
                                        background-size: cover;
                                        opacity: 1;
                                    }
                                    
                                    .title {
                                        display: block;
                                        margin-left: auto;
                                        margin-right: auto;
                                        vertical-align: middle;
                                        background-color: black;
                                        padding: 20px;
                                        width: 704px;
                                        height: 640px;
                                        border-radius: 0 0 10px 10px;
                                        float: left;
                                    }
                                    
                                    .helper {
                                        display: inline-block;
                                        height: 20%;
                                        vertical-align: middle;
                                    }
                                    
                                    .title-text {
                                        width: 614px;
                                        height: 237px;
                                        color: var(--unnamed-color-ffffff);
                                        text-align: left;
                                        font: normal normal normal 64px/80px BM DoHyeon;
                                        letter-spacing: 0px;
                                        color: #FFFFFF;
                                        opacity: 1;
                                        margin: 0;
                                        margin-top: 128px;
                                        margin-bottom: 64px;
                                        margin-left: auto;
                                        margin-right: auto;
                                        display: block;
                                        vertical-align: middle;
                                        width: 620px;
                                    }
                                    
                                    .kakao-btn {
                                        width: 256px;
                                        height: 64px;
                                        background: var(--unnamed-color-375fff) 0% 0% no-repeat padding-box;
                                        border: 1px solid var(--unnamed-color-fafaff);
                                        background: #375FFF 0% 0% no-repeat padding-box;
                                        border: 1px solid #FAFAFF;
                                        border-radius: 4px;
                                        opacity: 1;
                                        color: var(--unnamed-color-ffffff);
                                        text-align: center;
                                        font: normal normal normal 20px/29px Noto Sans CJK KR;
                                        letter-spacing: 0px;
                                        color: #FFFFFF;
                                        margin-bottom: 32px;
                                        margin-right: 16px;
                                        margin-left: 50px;
                                    }
                                    
                                    .hyperion-btn {
                                        width: 256px;
                                        height: 64px;
                                        /* UI Properties */
                                        background: var(--unnamed-color-375fff) 0% 0% no-repeat padding-box;
                                        border: 1px solid var(--unnamed-color-ffffff);
                                        background: #375FFF 0% 0% no-repeat padding-box;
                                        border: 1px solid #FFFFFF;
                                        border-radius: 4px;
                                        opacity: 1;
                                        color: var(--unnamed-color-ffffff);
                                        text-align: center;
                                        font: normal normal normal 20px/29px Noto Sans CJK KR;
                                        letter-spacing: 0px;
                                        color: #FFFFFF;
                                        margin-left: 16px;
                                        margin-right: 32px;
                                    }
                                    
                                    .title-img {
                                        width: 704px;
                                        height: 640px;
                                        /* UI Properties */
                                        border: 1px solid var(--unnamed-color-fafaff);
                                        border: 1px solid #FAFAFF;
                                        border-radius: 8px;
                                        opacity: 1;
                                        margin-top: 252px;
                                        margin-bottom: 188px;
                                        margin-right: 213;
                                    }
                                    /* page 2 */
                                    
                                    .container-fluid {
                                        margin-top: 64px;
                                        background: #375FFF 0% 0% no-repeat padding-box;
                                        padding-right: 15px;
                                        padding-left: 15px;
                                        margin-right: auto;
                                        margin-left: auto;
                                    }
                                    
                                    .col-lg-6 {
                                        text-align: center;
                                        float: left;
                                    }
                                    
                                    .img-fluid {
                                        width: 100%;
                                    }
                                    /* page 2 */
                                    
                                    .pg2-p1 {
                                        margin-top: 298px;
                                        margin-left: 256px;
                                        margin-bottom: 0px;
                                        height: 145px;
                                        /* UI Properties */
                                        color: var(--unnamed-color-ffffff);
                                        text-align: left;
                                        font: normal normal normal 28px/56px BM DoHyeon;
                                        letter-spacing: 0px;
                                        color: #FFFFFF;
                                        opacity: 1;
                                    }
                                    
                                    .pg2-p2 {
                                        margin-left: 256px;
                                        margin-top: 80px;
                                        height: 147px;
                                        color: var(--unnamed-color-ffffff);
                                        text-align: left;
                                        font: normal normal normal 56px/80px BM DoHyeon;
                                        letter-spacing: 0px;
                                        color: #FFFFFF;
                                    }
                                    
                                    p span.ingredient {
                                        color: #f00;
                                    }
                                    
                                    .pg2-p3 {
                                        margin-left: 256px;
                                        margin-top: 80px;
                                        height: 33px;
                                        color: var(--unnamed-color-ffffff);
                                        text-align: left;
                                        font: normal normal normal 28px/56px BM DoHyeon;
                                        letter-spacing: 0px;
                                        color: #FFFFFF;
                                        opacity: 1;
                                    }
                                    
                                    @media (max-width: 768px) {
                                        .floating-btn {
                                            height: 100px;
                                            width: 100px;
                                            bottom: 20px;
                                            right: 20px;
                                        }
                                    }
                                    
                                    @media (max-width: 525px) {
                                        .container-fluid {
                                            width: 720px;
                                        }
                                        .title-img {
                                            text-align: center;
                                            width: 330px;
                                            height: 330px;
                                        }
                                        .kakao-btn,
                                        .hyperion-btn {
                                            margin: 8px 0 8px 0;
                                        }
                                        .title-text {
                                            font: normal normal normal 32px/40px BM DoHyeon;
                                            letter-spacing: 0px;
                                            margin-top: 32px;
                                            margin-bottom: 32px;
                                            width: 320px;
                                            height: 180px;
                                        }
                                        .mobile-background {
                                            background-image: url("../img/running.jpg");
                                            background-position: center center;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                        }
                                        .title-img {
                                            none: none;
                                        }
                                        /* page 2 */
                                        .card-img {
                                            min-height: 700px
                                        }
                                        .pg2-p1,
                                        .pg2-p2,
                                        .pg2-p3 {
                                            margin-top: 0px;
                                            margin-left: 0px;
                                        }
                                        .pg2-p1 {
                                            height: 270px;
                                            margin-bottom: 32px;
                                        }
                                        .pg2-p2 {
                                            height: 210px;
                                            margin-bottom: 32px;
                                            font: normal normal normal 30px/56px BM DoHyeon;
                                        }
                                    }
                                    
                                    @media (min-width: 992px) {
                                        .container-fluid {
                                            width: 720px;
                                        }
                                        .title-img {
                                            text-align: center;
                                        }
                                    }
                                    
                                    @media (min-width: 1200px) {
                                        .container-fluid {
                                            width: 1920x;
                                            height: 1080px;
                                        }
                                        .title-text {
                                            margin-left: 241px;
                                            width: 620px;
                                        }
                                    }